body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  margin: 16px auto;
}

.button-container {
  background: #0411c5;
  padding: 10px;
  text-align: center;
  }

/* Moved the button a little. */

button {
  background: white;
  border: 1px solid rgb(223, 6, 6);
  display: flex;
}